{% extends "base.html" %}

{%- block title -%}About The ZIP Code Finder for Taiwan{%- endblock -%}

{%- block styles %}
    <link href="./static/about.css" rel="stylesheet">
{%- endblock %}

{%- block content %}
<h1>關於本站</h1>

<p>這個專案是由 <a target="_blank" href="http://mosky.tw">Mosky</a>(原作者) 所開發的 <a target="_blank" href="https://github.com/moskytw/zipcodetw">ZIPCodeTW</a> PYTHON 版本 v0.6 轉換為 PHP 版本的 ZIPCodeTW 所寫的網頁前端程式。</p>

<p> 此專案為是以中華郵政 <a target="_blank" href="http://www.post.gov.tw/post/internet/Postal/index.jsp?ID=208">3+2 郵遞區號查詢頁</a> 的資料為基礎。除了查詢頁有的基本功能外，它還額外提供了以漸進或模糊地址的搜尋功能。所以即使只有部分地址，還是可以查詢到全部或部分的郵遞區號。</p>

<p>同時 ZIPCodeTW 也是一個開放原始碼的專案，所有的程式碼 (包含本站程式碼) 都可以在 <a href="javascript:void(0);">GitHub</a> 找到。</p>

<h1>關於圖片</h1>

<p>最後謝謝由 <a href="http://subtlepatterns.com/">Subtle Patterns</a> 提供的漂亮背景圖片。</a></p>

{%- endblock %}
